<div class="card">
    <p-picklist 
        [source]="sourceProducts" 
        [target]="targetProducts" 
        [dragdrop]="true" 
        [responsive]="true" 
        [sourceStyle]="{ height: '30rem' }" 
        [targetStyle]="{ height: '30rem' }" 
        [showSourceControls]="false" 
        [showTargetControls]="false" 
        breakpoint="1400px">
        <ng-template let-item pTemplate="item">
            <div class="flex justify-between items-center">
                <span>{{ item.name }}</span>
            </div>
        </ng-template>
    </p-picklist>
</div>
