<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<div class="container">
    <div class="row mb-3">
        <!--Phần bên trái các nút-->
        <div class="col-6">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-sm-9 text-right col-md-9 offset-md-3">
                    <div class="form-group button-group">
                        <button class="btn-green" [disabled]="this.status == 2" (click)="saveShippingNoteCancel()">Xác nhận
                        </button>
                        <button class="btn-blue" [routerLink]="['/shippingnotecancel']">Trở về</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Phần Master-->
    <div class="row mb-3">
        <p class="title">Thông tin phiếu hủy</p>
        <div class="col-md-6">
            <div class="row mb-2">
                <label class="col-3 col-form-label">Mã phiếu hủy:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuHuy"
                        [(ngModel)]="data.shippingNoteCancel.maPhieuHuy" disabled="true" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mb-2">
                <label class="col-3 col-form-label">Ngày hủy:</label>
                <div class="col-9">
                    <app-date-picker [(dateValue)]="data.shippingNoteCancel.ngayHuy" [inputClass]="' border-bottom1'"
                        [isShowTime]="true" [format]="'DD/MM/YYYY HH:MM'" [isShowWeek]="false">
                    </app-date-picker>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-1 col-form-label">Lý do:</label>
        <div class="col-md-11">
            <textarea class="border-bottom1" [(ngModel)]="data.shippingNoteCancel.lyDo" rows="2" style="resize: none; width: 100%;"></textarea>
        </div>
    </div>

    <!--Thông tin hóa đơn-->
    <div class="row mb-3">
        <p class="title">Thông tin phiếu giao</p>
        <div class="col-md-6">
            <div class="row mb-2">
                <label class="col-3 col-form-label">Mã phiếu giao:</label>
                <div class="col-9">
                    <app-quick-search [filterObjectList]="data.invoice" [fieldShow]="'maPhieuGiao'"
                        [(value)]="filter.maPhieuGiao" placeHolder="Nhập mã phiếu"
                        (selectedEvent)="onInvoiceSelected($event)" [hearder]="['Mã phiếu giao']"
                        [fields]="['maPhieuGiao']" [inputClass]="'border-bottom1'">
                    </app-quick-search>
                    <!-- <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="this.data.shippingNoteCancel.maPhieuGiao"
                    disabled="true" /> -->
                </div>
            </div>

            <!-- Ghi chú -->
            <div class="row mb-2">
                <label class="col-3 col-form-label">Mã nhân viên:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maNV" [(ngModel)]="this.data.shippingNoteCancel.maNV"
                        disabled="true" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-3 col-form-label">Mã khách hàng:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maKH" [(ngModel)]="this.data.shippingNoteCancel.maKhachHang"
                        disabled="true" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Ngày tạo -->
            <div class="row mb-2">
                <label class="col-3 col-form-label">Ngày giao:</label>
                <div class="col-9">
                    <app-date-picker [(dateValue)]="data.shippingNoteCancel.ngayGiao" [inputClass]="' border-bottom1'"
                        [isShowTime]="true" [format]="'DD/MM/YYYY HH:MM'" [isShowWeek]="false">
                    </app-date-picker>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-3 col-form-label">Tên nhân viên:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="tenNV" [(ngModel)]="this.data.shippingNoteCancel.tenNV"
                        disabled="true" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-3 col-form-label">Tên khách hàng:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="tenKH" [(ngModel)]="this.data.shippingNoteCancel.tenKhachHang"
                        disabled="true" />
                </div>
            </div>
        </div>
    </div>