
<!-- Container chính cho trang -->
<div class="container">

    <!-- Phần master -->
    <div class="row mb-3"> <!-- Adds margin at the bottom -->
        <div class="col-sm-8">
            <div class="row mb-2">
                <div class="form-group col-sm-4">
                    <label class="font-weight-bold">Từ ngày</label>
                    <app-date-picker [(dateValue)]="filters.fromDate" [inputClass]="'form-control'" [isShowTime]="false"
                        [format]="'DD/MM/YYYY'" [isShowWeek]="false"></app-date-picker>
                </div>
                <div class="form-group col-sm-4">
                    <label class="font-weight-bold">Đến ngày</label>
                    <app-date-picker [(dateValue)]="filters.toDate" [inputClass]="'form-control'" [isShowTime]="false"
                        [format]="'DD/MM/YYYY'" [isShowWeek]="false"></app-date-picker>
                </div>
                <div class="form-group col-sm-4">
                    <label class="font-weight-bold">Tìm kiếm</label>
                    <input name="SearchString" class="form-control clearable" type="search"
                        placeholder="Mã/Họ và tên/Số điện thoại">
                </div>
            </div>
            <div class="row mb-2" *ngIf="isExpanded">
                <div class="form-group col-sm-4">
                    <label class="font-weight-bold">Tìm kiếm</label>
                    <input name="SearchString" class="form-control clearable" type="search"
                        placeholder="Mã/Họ và tên/Số điện thoại">
                </div>
            </div>
        </div>
        <div class="col-sm-4 form-group-button" style="margin-top: 20px;">
            <div class="btn-group mr-2">
                <button class="btn-green"(click)="onSearch()">Tìm</button>
                <button (click)="toggleExpansion()" class="btn-green">
                    <i class="bi bi-funnel-fill"></i>
                </button>
                <button class="btn-green" [routerLink]="['/saleorder/saleOrderAdd']"
                    [queryParams]="{id:'',status:1}">Thêm mới</button>
                    <button class="btn-green" (click)="exportExcel()" style="color: white;margin-left: 5px;">Xuất Excel</button>
            </div>
            
        </div>
    </div>

    <div class="ColorByStatus">
        <ul>
            <li class="DotRowGreen"><span data-text="Mới tạo"></span></li>
            <li class="DotRowBlue"><span data-text="Đang giao"></span></li>
            <li class="DotRowPurble"><span data-text="Hoàn tất"></span></li>
            <li class="DotRowBlack"><span data-text="Đã hủy"></span></li>
        </ul>
    </div>

    <!-- Phần nội dung ở dưới đây-->
    <div class="row">
        <div class="col-12">
            <p-table [value]="data.saleInvoiceOrders" [(selection)]="selectedProduct" selectionMode="single"
                showGridlines [sortOrder]="-1" [scrollable]="true" scrollHeight="500px" rowHover="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pFrozenColumn pSortableColumn="soCT" style="min-width:100px !important">
                            Số CT <p-sortIcon field="soCT" />
                        </th>
                        <th pSortableColumn="ngayBan" style="min-width:200px !important">
                            Ngày bán <p-sortIcon field="ngayBan" />
                        </th>
                        <th pSortableColumn="tongTriGia" style="min-width:200px !important">
                            Tổng trị giá <p-sortIcon field="tongTriGia" />
                        </th>
                        <th pSortableColumn="tenNV" style="min-width:200px !important">
                            Tên nhân viên <p-sortIcon field="tenNV" />
                        </th>
                        <th pSortableColumn="tenKhachHang" style="min-width:200px !important">
                            Tên khách hàng <p-sortIcon field="tenKhachHang" />
                        </th>
                        <th pSortableColumn="maHinhThuc" style="min-width:200px !important">
                            Mã hình thức<p-sortIcon field="maHinhThuc" />
                        </th>
                        <th pSortableColumn="ghiChu" style="min-width:200px !important">
                            Ghi chú <p-sortIcon field="ghiChu" />
                        </th>
                        <th pSortableColumn="ngayBan" style="min-width:200px !important">
                            Ngày thanh toán <p-sortIcon field="ngayBan" />
                        </th>
                        <th alignFrozen="right" class="active-sm" pFrozenColumn>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr [pSelectableRow]="order" [ngClass]="{
                        'DotRowBlue': order.trangThai == 'Đang giao',
                        'DotRowGreen':order.trangThai=='Mới tạo',
                        'DotRowPurple':order.trangThai=='Hoàn tất',
                        'DotRowBlack': order.trangThai.includes('Đã hủy')
                      }">
                        <td pFrozenColumn>VG-{{order.tenKhachHang}}</td>
                        <td class="text-center" [appFormatDate]="order.ngayBan" format="dateFilter"></td>
                        <td class="text-right">{{ order.tongTriGia}}</td>
                        <td>{{ order.tenNV }}</td>
                        <td>{{ order.tenKhachHang }}</td>
                        <td>{{ order.maHinhThuc }}</td>
                        <td>{{ order.ghiChu }}</td>
                        <td>{{ order.ngayThanhToan }}</td>
                        <td alignFrozen="right" pFrozenColumn class="active-sm">
                            <button class="btn btn-link px-1" type="button" title="Chỉnh sửa"
                                [routerLink]="['/saleorder/saleOrderDetail']"
                                [queryParams]="{ id: order.maHoaDon, status: 2 }">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-link px-1" type="button" title="Xóa" (click)="showDialog(order.maHoaDon)"><i
                                    class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12" class="empty-message">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="flex justify-center">
                <app-paginator [totalRows]="this.globalService.paging.TotalRows"
                    (selectPageEvent)="onPageChange($event)" (selectRowsEvent)="onRowsChange($event)">
                </app-paginator>
            </div>
        </div>
    </div>
</div>
<p-dialog 
    header="Header" 
    [(visible)]="IsShowPopupDelete" 
    [modal]="true" 
    class="sm">
  
  <!-- Header Template -->
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center w-full h-2rem gap-2 border-style-bottom p-2">
      <span class="font-bold white-space-nowrap text-xl">
        Thông báo
      </span>
    </div>
  </ng-template>

<!-- Content Template -->
<ng-template pTemplate="content">
  <div class="row" style="padding-bottom: 10px;">
    <span>Bạn có chắc muốn xóa ?</span>
  </div>
</ng-template>
  <!-- Footer Template -->
  <ng-template pTemplate="footer">
    <div class="border-style-top">
      <button type="submit" (click)="deleteSaleInvoiceOrder()" class="btn-green">
        Đồng ý
      </button>
      <button type="button" class="btn-red"  (click)="close()">
        Hủy
      </button>
    </div>
  </ng-template>
</p-dialog>
