<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<div class="container">
  <div class="row mb-3">

    <!--Phần bên trái các nút-->
    <div class="col-6">
      <div class="row">
        <span class="col-3">Trạng thái:</span>
        <span class="col-9 font-weight-bold" [ngClass]="{
            'text-success': data.saleInvoiceOrder.trangThai === 'Mới tạo',
            'text-primary': data.saleInvoiceOrder.trangThai === 'Đang giao',
            'text-dark': data.saleInvoiceOrder.trangThai === 'Hoàn tất',
          }">
          {{ data.saleInvoiceOrder.trangThai }}
        </span>
      </div>
    </div>
    <!--Kết thúc phần bên trái các nút-->

    <!--Phần bên phải chứa các nút-->
    <div class="col-6">
      <div class="row">
        <div class="col-sm-10 text-right col-md-10 offset-md-3">
          <div class="form-group button-group">
            <button class="btn-green"
              [disabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất' || this.data.saleInvoiceOrder.trangThai=='Đang giao' || !this.data.saleInvoiceOrder.maKhachHang || !this.data.saleInvoiceOrder.maNV || this.data.saleInvoiceOrderDetail.length==0 || !this.data.saleInvoiceOrder.maHinhThuc"
              (click)="save()">Lưu
            </button>
            <button type="submit" (click)="ConfirmSaleInvoiceFinish()" class="btn-green"
              [disabled]="!this.data.saleInvoiceOrder.maNV">
              Xác nhận đơn hàng hoàn thành
            </button>
            <button type="submit" (click)="ConfirmCancelSaleInvoice()" class="btn-green"
              [disabled]="!this.data.saleInvoiceOrder.maNV">
              Xác nhận hủy đơn hàng
            </button>
            <button class="btn-blue" (click)="addNew()"> Thêm mới</button>
            <button class="btn-blue" [routerLink]="['/saleorder']">Trở về</button>
          </div>
        </div>
      </div>
    </div>
    <!--Kết thúc phần bên phải chứa các nút-->

  </div>
  <!--Phần Master-->
  <div class="row mb-3">
    <div class="col-md-6">
      <!-- Ghi chú -->
      <div class="row mb-2">
        <label class="col-3 col-form-label">Ghi chú:</label>
        <div class="col-9">
          <textarea class="border-bottom1" [disabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất'"
            [(ngModel)]="this.data.saleInvoiceOrder.ghiChu" placeholder="Nhập ghi chú ở đây ..." rows="6"></textarea>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-3 col-form-label">Hình thức TT</label>
        <div class="col-9">
          <p-select [options]="hinhThuc" name="hinhThuc" [(ngModel)]="data.saleInvoiceOrder.maHinhThuc" name="gioiTinh"
            placeholder="--Vui lòng chọn--">
          </p-select>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Mã phiếu nhập -->
      <div class="row mb-2">
        <label class="col-3 col-form-label">Mã hóa đơn:</label>
        <div class="col-9">
          <input class="border-bottom1" [disabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất'" name="maHoaDon"
            [(ngModel)]="this.data.saleInvoiceOrder.maHoaDon" />
        </div>
      </div>

      <!-- Tên NCC -->
      <div class="row mb-2">
        <label class="col-3 col-form-label">Tên Khách hàng:</label>
        <div class="col-9">
          <app-quick-search [filterObjectList]="data.customers" [fieldShow]="'tenKhachHang'"
            [outputField]="'maKhachHang'" placeHolder="Nhập tên để tìm" [(value)]="filter.tenKH"
            [isDisabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất'"
            (selectedEvent)="this.data.saleInvoiceOrder.maKhachHang = $event.maKhachHang;"
            [inputClass]="'border-bottom1'" [hearder]="['Mã khách hàng', 'Tên khách hàng']"
            [fields]="['maKhachHang', 'tenKhachHang']">
          </app-quick-search>
        </div>
      </div>

      <!-- Tên nhân viên -->
      <div class="row mb-2">
        <label class="col-3 col-form-label">Tên nhân viên:</label>
        <div class="col-9">
          <app-quick-search [filterObjectList]="data.employees" [fieldShow]="'tenNV'" [outputField]="'maNV'"
            placeHolder="Nhập tên để tìm" [(value)]="filter.tenNV"
            [isDisabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất'"
            (selectedEvent)="this.data.saleInvoiceOrder.maNV = $event.maNV;" [inputClass]="'border-bottom1'"
            [hearder]="['Mã nhân viên', 'Tên nhân viên']" [fields]="['maNV', 'tenNV']">
          </app-quick-search>
        </div>
      </div>

      <!-- Ngày đặt -->
      <div class="row mb-2">
        <label class="col-3 col-form-label">Ngày tạo:</label>
        <div class="col-9">
          <app-date-picker [(dateValue)]="data.saleInvoiceOrder.ngayBan" [inputClass]="' border-bottom1'"
            [isShowTime]="true" [format]="'DD/MM/YYYY HH:MM'" [isShowWeek]="false"
            [isDisabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất'">
          </app-date-picker>
        </div>
      </div>

      <!-- Ngày nhập -->
      <div class="row mb-2" [hidden]="!this.data.saleInvoiceOrder.ngayThanhToan">
        <label class="col-3 col-form-label">Ngày thanh toán:</label>
        <div class="col-9">
          <app-date-picker [(dateValue)]="data.saleInvoiceOrder.ngayThanhToan" [inputClass]="' border-bottom1'"
            [isShowTime]="true" [format]="'DD/MM/YYYY HH:MM'" [isShowWeek]="false"
            [isDisabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất' || this.data.saleInvoiceOrder.trangThai.includes('Đã hủy')">
          </app-date-picker>
        </div>
      </div>
    </div>
  </div>
  <!--Kết thúc phần Master-->

  <!-- Phần nội dung ở dưới đây-->
  <div class="row mb-3">
    <div class="col-12">
      <div class="custom-table-wrapper">
        <table class="custom-table table table-bordered table-hover table-edit">
          <thead>
            <tr>
              <th class="STT">#</th>
              <th class="code-lg">Mã hàng</th>
              <th class="text-sm">Tên hàng</th>
              <th class="number text-center">Số lượng</th>
              <th class="number text-center">Đơn giá</th>
              <th class="number text-center">Thành tiền</th>
              <th class="active-sm"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Kiểm tra nếu không có dữ liệu, hiển thị thông báo -->
            <tr *ngIf="data.saleInvoiceOrderDetail.length === 0">
              <td colspan="7" class="text-center">Không có dữ liệu</td>
            </tr>

            <!-- Hiển thị dữ liệu nếu có -->
            <tr *ngFor="let item of data.saleInvoiceOrderDetail; let i = index">
              <td class="STT">{{i + 1}}</td>
              <td *ngIf="this.data.saleInvoiceOrder.trangThai!='Hoàn tất'">
                <app-quick-search [name]="'product'+i" [fieldShow]="'maHangHoa'" outputField="maHangHoa"
                  [filterObjectList]="this.data.products" (CallBackEvent)="quickSearchHangHoa($event)"
                  [inputClass]="'form-control code-lg'" (selectedEvent)="onSelectItem($event,i)"
                  [(value)]="item.maHangHoa" [hearder]="['Mã hàng', 'Tên hàng']" [fields]="['maHangHoa','tenHangHoa']"
                  styleField="isExpiryDate" [styleList]='[{"true" : "#e34724"}, {"false": "black"}]'>
                </app-quick-search>
              <td
                *ngIf="this.data.saleInvoiceOrder.trangThai=='Hoàn tất' || this.data.saleInvoiceOrder.trangThai=='Đang giao'">
                {{item.maHangHoa}}
              </td>
              <td class="text-sm text-left">{{item.tenHangHoa}}</td>
              <td class="number"
                *ngIf="this.data.saleInvoiceOrder.trangThai!='Hoàn tất' || this.data.saleInvoiceOrder.trangThai!='Đang giao'">
                <input type="number" [(ngModel)]="item.soLuong" class="form-control" [name]="'soLuong'+i" [min]="0" [max]="item.soLuongTon" 
                  (ngModelChange)="calculateThanhTien(item)">
              </td>
              <td *ngIf="this.data.saleInvoiceOrder.trangThai=='Hoàn tất'" class="text-right">
                {{item.soLuong}}
              </td>
              <td class="number" (ngModelChange)="calculateThanhTien(item)">
                {{item.donGia}}
              </td>
              <td class="number"
                *ngIf="this.data.saleInvoiceOrder.trangThai!='Hoàn tất' || this.data.saleInvoiceOrder.trangThai!='Đang giao'">
                <input type="number" [(ngModel)]="item.thanhTien" class="form-control text-right" [name]="'thanhTien'+i"
                  [readonly]="true">
              </td>
              <td
                *ngIf="this.data.saleInvoiceOrder.trangThai=='Hoàn tất' || this.data.saleInvoiceOrder.trangThai=='Đang giao'"
                class="text-right">
                {{item.thanhTien}}
              </td>
              <td alignFrozen="right" pFrozenColumn class="active-sm">
                <button class="btn btn-link px-1" type="button" title="Xóa"
                  [disabled]="this.data.saleInvoiceOrder.trangThai=='Hoàn tất'" (click)="deleteRow(i)"><i
                    class="bi bi-trash3-fill"></i>
                </button>
              </td>
            </tr>

            <!-- Thêm dòng điều khiển -->
            <tr class="row-control" *ngIf="this.data.saleInvoiceOrder.trangThai!='Hoàn tất'">
              <td colspan="999">
                <button class="btn-green" (click)="onAddRow()">Thêm (F12)</button>
                <span>| </span>
                <button class="btn-green" data-toggle="modal" data-target="#searchItem">Thêm nhiều</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <div class="row">
        <span class="col-3">Tổng trị giá:</span>
        <span class="col-3">
          <input type="number" disabled="true" [(ngModel)]="this.data.saleInvoiceOrder.tongTriGia"
            class="border-bottom1" name="tongTriGia">
        </span>
      </div>
    </div>
  </div>
  <!-- Kết thúc phần nội dung ở dưới đây-->
</div>