<div class="container">
  <!-- Row 1: 4 columns for cards -->
  <div class="row mb-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="./assets/images/muahangIcon.png">
            </div>

            <!-- Right Side: Two Rows -->
            <div class="col-md-6">
              <div class="d-flex flex-column">
                <!-- Top Row -->
                <div class="mb-2">
                  <p class="card-text">{{this.totalPurchase}}</p>
                </div>
                <!-- Bottom Row -->
                <div>
                  <p class="card-text">Mua hàng</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-6">
             <img src="./assets/images/banhangIcon.png"/>
            </div>

            <!-- Right Side: Two Rows -->
            <div class="col-md-6">
              <div class="d-flex flex-column">
                <!-- Top Row -->
                <div class="mb-2">
                  <p class="card-text">{{this.totalSale}}</p>
                </div>
                <!-- Bottom Row -->
                <div>
                  <p class="card-text">Bán hàng</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-6">
             <img src="./assets/images/thuIcon.png">
            </div>

            <!-- Right Side: Two Rows -->
            <div class="col-md-6">
              <div class="d-flex flex-column">
                <!-- Top Row -->
                <div class="mb-2">
                  <p class="card-text">{{this.totalThuFormatted}}</p>
                </div>
                <!-- Bottom Row -->
                <div>
                  <p class="card-text">Thu</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="./assets/images/chiIcon.png"/>
            </div>

            <!-- Right Side: Two Rows -->
            <div class="col-md-6">
              <div class="d-flex flex-column">
                <!-- Top Row -->
                <div class="mb-2">
                  <p class="card-text">{{this.totalChiFormatted}}</p>
                </div>
                <!-- Bottom Row -->
                <div>
                  <p class="card-text">Chi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class="form-label">Báo cáo</label>
        <p-chart type="line" [data]="data" [options]="options"/>
    </div>
  </div>
</div>
