<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<!-- Container chính cho trang -->
<div class="container">

    <!-- Phần master -->
    <div class="row mb-3"> <!-- Adds margin at the bottom -->
        <div class="col-sm-8">
            <div class="row mb-2">

                <div class="form-group col-sm-4">
                    <label class="font-weight-bold">Tìm kiếm</label>
                    <input name="SearchString" [(ngModel)]="searchString" class="form-control clearable" type="search"
                        placeholder="Tên hàng hóa">
                </div>
            </div>
        </div>
        <div class="col-sm-4 form-group-button" style="margin-top: 20px;">
            <div class="btn-group mr-2">
                <button class="btn-green" style="color: white;" (click)="onSearch()">Tìm</button>
            </div>
            <button class="btn-green" (click)="exportExcel()" style="color: white;margin-left: 5px;">Xuất Excel</button>
        </div>
    </div>

    <!-- Phần nội dung ở dưới đây-->
    <div class="row">
        <div class="col-12">
            <p-table [value]="data.products" [(selection)]="selectedProduct" selectionMode="single" showGridlines
                [sortOrder]="-1" [scrollable]="true" scrollHeight="330px" rowHover="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pFrozenColumn>
                            #
                        </th>
                        <th pFrozenColumn pSortableColumn="tenHangHoa" class="header-min">
                            Tên hàng hóa <p-sortIcon field="tenHangHoa" />
                        </th>
                        <th pSortableColumn="giaBan" class="header-gt">
                            Giá bán <p-sortIcon field="giaBan" />
                        </th>
                        <th pSortableColumn="soLuongTon">
                            Số lượng tồn <p-sortIcon field="soLuongTon" class="header-tb" />
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-o let-index="rowIndex">
                    <tr [pSelectableRow]="o">
                        <td pFrozenColumn>{{ index + 1 }}</td>
                        <td pFrozenColumn>{{ o.tenHangHoa }}</td>
                        <td>{{ o.giaBan }}</td>
                        <td>{{ o.soLuongTon }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="flex justify-center">
                <app-paginator [totalRows]="this.globalService.paging.TotalRows"
                    (selectPageEvent)="onPageChange($event)" (selectRowsEvent)="onRowsChange($event)">
                </app-paginator>
            </div>
        </div>
    </div>
</div>
