<!-- Container chính cho trang -->
<div class="container">
  <!-- Phần master -->
  <!--Phần button-->
  <div class="row mb-3">
    <div class="col-6">

    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-sm-9 text-right col-md-9 offset-md-3">
          <div class="form-group button-group">
            <button class="btn-green">Lưu</button>
            <button class="btn-green">Xuất Excel</button>
            <button class="btn-blue"> Thêm mới</button>
            <button class="btn-blue">Trở về</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col-md-6">
      <div class="d-flex justify-content-start align-items-center">

      </div>
    </div>

    <div class="col-md-6">
      <div class="row">

      </div>
    </div>
  </div>


  <!-- Phần nội dung ở dưới đây-->
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>
