<div class="container">
  <div class="row mb-3">

    <!--Phần bên trái các nút-->
    <div class="col-6">
    </div>
    <!--Kết thúc phần bên trái các nút-->

    <!--Phần bên phải chứa các nút-->
    <div class="col-6">
      <div class="row">
        <div class="col-sm-9 text-right col-md-9 offset-md-3">
          <div class="form-group button-group">
            <button class="btn-green">Lưu</button>
            <button class="btn-green">Xuất Excel</button>
            <button class="btn-blue"> Thêm mới</button>
            <button class="btn-blue">Trở về</button>
          </div>
        </div>
      </div>
    </div>
    <!--Kết thúc phần bên phải chứa các nút-->

  </div>
  <!--Phần Master-->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="row">
        <label class="col-2">Ghi chú :</label>
        <textarea class="col-9" placeholder="Nhập ghi chú ở đây ..." rows="5"></textarea>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <span class="col-3">Mã phiếu nhập :</span>
        <input class="col-8 border-bottom1" name="maPhieuNhap" />
      </div>

      <div class="row">
        <span class="col-3">Mã NCC :</span>
        <input class="col-8 border-bottom1" name="maPhieuNhap" />
      </div>

      <div class="row">
        <span class="col-3">Ngày đặt :</span>
        <input class="col-8 border-bottom1" name="ngayDat" />
        <!-- <app-date-picker [(dateValue)]="data.purchase"  [inputClass]="'border-bottom1'"
            [format]="'DD/MM/YYYY'" [isShowTodayBtn]="true" [isShowWeek]="true">
        </app-date-picker> -->

      </div>
      <div class="row">
        <span class="col-3">Ngày nhập :</span>
        <!-- <app-date-picker [(dateValue)]="data.purchase"  [inputClass]="'border-bottom1'"
            [format]="'DD/MM/YYYY'" [isShowTodayBtn]="true" [isShowWeek]="true">
        </app-date-picker> -->
        <input class="col-8 border-bottom1" name="ngayNhap" />
      </div>
    </div>
  </div>
  <!--Kết thúc phần Master-->

  <!-- Phần nội dung ở dưới đây-->
  <div class="row mb-3">
    <div class="col-12">
      <table class="table table-bordered table-hover table-edit">
        <thead>
          <tr>
            <th class="order-number">#</th>
            <th class="code-lg">Mã hàng</th>
            <th class="text-min-xm">Tên hàng</th>
            <th class="text-xs">Đơn vị tính</th>
            <th class="text-center number-sm">Số lượng</th>
            <th class="text-min-sm">Ghi chú</th>
            <th class="active-sm"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.purchase; let i = index">
            <td class="order-number">{{i + 1}}</td>
            <td class="order-number">{{i + 1}}</td>
            <td class="order-number">{{i + 1}}</td>
            <td class="order-number">{{i + 1}}</td>
            <td class="order-number">{{i + 1}}</td>
            <td class="order-number">{{i + 1}}</td>
            <td alignFrozen="right" pFrozenColumn class="active-sm">
              <button class="btn btn-link px-1"type="button" title="Chỉnh sửa"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-link px-1" type="button"title="Xóa"><i class="bi bi-trash3-fill"></i></button>         
            </td>
          </tr>
          <tr class="row-empty" *ngIf="data.purchase.length<=0">
            <td colspan="999">Không có dữ liệu</td>
          </tr>
          <tr class="row-control ">
            <td colspan="999">
              <button class="btn-green">Thêm (F12)</button>
              <span >| </span>
              <button class="btn-green" data-toggle="modal" data-target="#searchItem">Thêm nhiều</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      
    </div>
  </div>
  <!-- Kết thúc phần nội dung ở dưới đây-->
</div>
