.error-text {
    color: red; 
    text-align: right; 
    min-height: 20px;  
}

.error-text-center {
    color: red;      
    text-align: center; 
    min-height: 20px;   
}
.form-group-button{
    text-align: right !important;
}
/* Style cho nút */
.btn-custom {
    border-radius: 2px;
    font-weight: bold;
    padding: 2px 10px !important;
    font-size: 12px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hiệu ứng hover cho nút */
.btn-login:hover {
    background-color: rgba(0, 123, 255, 0.8);
}

.btn-register:hover {
    background-color:#60be76;
}

/* Màu nền nút đăng nhập */
.btn-login {
    background-color: #007bff; /* Màu nền cho nút Login */
    color: white; /* Màu chữ */
}

.btn-cancel{
    background-color: red !important; /* Màu nền cho nút Register */
    color: white; /* Màu chữ */
    padding: 10px !important;
    border-radius: 5px !important;
    margin-right: 5px;
    font-weight: bold;
    font-size: 12px;
}

.btn-red {
    background-color: red; /* Màu xanh lá cây */
    color: white;
    padding: 5px 10px;
    min-width: 50px;
    margin-right: 5px;
    border-radius: 20px !important;
}
/* Style cho btn-green (màu xanh lá cây) */
.btn-green {
    background-color: #4caf50; /* Màu xanh lá cây */
    color: white;
    padding: 5px 10px;
    min-width: 50px;
    margin-right: 5px;
    border-radius: 20px !important;
}
.btn-green:disabled {
    background-color: #4caf50; /* Màu xanh lá cây */
    color: white;
    cursor: not-allowed; /* Biểu tượng chuột bị chặn */
    opacity: 0.7; /* Làm nút mờ hơn */
  }
/* Style cho btn-blue (màu xanh dương) */
.btn-blue {
    background-color: #007bff; /* Màu xanh dương */
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    min-width: 50px;
    border-radius: 20px !important;
}

/* Style cho btn-orange (màu cam) */
.btn-orange {
    background-color: orange; /* Màu cam */
    color: white;
    padding: 5px 10px;
    min-width: 50px;
    border-radius: 20px !important;
}