
/* Tùy chỉnh PickList */
.p-picklist {
    border: none;
  }
  
  .p-picklist-list-container {
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  .p-picklist-list {
    padding: 8px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  
  .p-picklist-controls .p-button {
    color: red;
    margin: 5px 0;
    padding: 10px;
  }
  
  .p-listbox-option {
    background-color: white;
    color: #4caf50;
  }
  
  .p-picklist{
    border: 1px solid gray;
    border-radius: 0px !important;
  }
  
  .p-listbox-list{
    background-color: #4caf50;
    color: white;
    height: auto;
  }
  
  .p-picklist-controls .p-button.p-button-secondary {
    background-color: #4caf50;
    color: white;
  }
  
  
  .p-listbox{
    background-color: var(--cui-tertiary-bg) !important;
  }
  
  .p-listbox .p-component{
    background-color: #4caf50;
  }
  
  .p-ripple.p-listbox-option.ng-star-inserted.p-focus{
    padding: 10px;
  }
  
  .p-ripple.p-listbox-option.ng-star-inserted{
    padding: 10px;
    background-color: var(--cui-tertiary-bg);
    color: #4caf50;
  }