<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<div class="container">
    <div class="row mb-3">
        <!--Phần bên trái các nút-->
        <div class="col-6">
            <div class="row">
                <span class="col-3">Trạng thái:</span>
                <span class="col-9 font-weight-bold" [ngClass]="{
            'text-success': data.shippingNote.trangThai === 'Mới tạo',
            'text-primary': data.shippingNote.trangThai === 'Đang giao',
            'text-dark': data.shippingNote.trangThai === 'Hoàn tất',
          }">
                    {{ data.shippingNote.trangThai }}
                </span>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-sm-9 text-right col-md-9 offset-md-3">
                    <div class="form-group button-group">
                        <button class="btn-green" (click)="saveShippingNote()">Lưu
                        </button>
                        <button class="btn-blue"> Thêm mới</button>
                        <button class="btn-blue" [routerLink]="['/shippingnote']">Trở về</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Phần Master-->
    <div class="row mb-3">
        <p class="title">Thông tin phiếu giao hàng</p>
        <div class="col-md-6">
            <div class="row mb-2">
                <label class="col-3 col-form-label">Mã phiếu giao:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="this.data.shippingNote.maPhieuGiao"
                        disabled="true" />
                </div>
            </div>
            <!-- Ghi chú -->
            <div class="row mb-2">
                <label class="col-3 col-form-label">Nhân viên giao:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="this.data.shippingNote.tenNV"
                        disabled="true" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Ngày tạo -->
            <div class="row mb-2">
                <label class="col-3 col-form-label">Ngày tạo:</label>
                <div class="col-9">
                    <app-date-picker [(dateValue)]="data.shippingNote.ngayTao" [inputClass]="' border-bottom1'"
                        [isShowTime]="true" [format]="'DD/MM/YYYY HH:MM'" [isShowWeek]="false"
                        [isDisabled]="this.data.shippingNote.trangThai=='Hoàn tất'">
                    </app-date-picker>
                </div>
            </div>

            <!-- Ngày giao -->
            <div class="row mb-2">
                <label class="col-3 col-form-label">Ngày giao:</label>
                <div class="col-9">
                    <app-date-picker [(dateValue)]="data.shippingNote.ngayGiao" [inputClass]="' border-bottom1'"
                        [isShowTime]="true" [format]="'DD/MM/YYYY HH:MM'" [isShowWeek]="false"
                        [isDisabled]="this.data.shippingNote.trangThai=='Hoàn tất'">
                    </app-date-picker>
                </div>
            </div>
        </div>
    </div>

    <!--Thông tin hóa đơn-->
    <div class="row mb-3">
        <p class="title">Thông tin hóa đơn</p>
        <div class="col-md-6">
            <div class="row mb-2">
                <label class="col-3 col-form-label">Mã hóa đơn:</label>
                <div class="col-9">
                    <app-quick-search [filterObjectList]="data.invoice" [fieldShow]="'maHoaDon'"
                        [(value)]="filter.maHoaDon" placeHolder="Nhập mã hóa đơn"
                        (selectedEvent)="onInvoiceSelected($event)" [hearder]="['Mã hóa đơn']" [fields]="['maHoaDon']"
                        [inputClass]="'border-bottom1'">
                    </app-quick-search>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-3 col-form-label">Tổng trị giá:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="this.data.shippingNote.tongTriGia"
                        disabled="true" />
                </div>
            </div>
            <!-- Ghi chú -->
            <div class="row mb-2">
                <label class="col-3 col-form-label">Ghi chú:</label>
                <div class="col-9">
                    <textarea class="border-bottom1" [(ngModel)]="this.data.shippingNote.ghiChu" disabled="true"
                        rows="1" style="resize: none;"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Ngày tạo -->
            <div class="row mb-2">
                <label class="col-3 col-form-label">Ngày tạo:</label>
                <div class="col-9">
                    <app-date-picker [(dateValue)]="data.shippingNote.ngayBan" [inputClass]="' border-bottom1'"
                        [isShowTime]="true" [format]="'DD/MM/YYYY HH:MM'" [isShowWeek]="false" [isDisabled]="true">
                    </app-date-picker>
                </div>
            </div>

            <div class="row mb-2">
                <label class="col-3 col-form-label">Hình thức:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuNhap"
                        [value]="getHinhThuc(this.data.shippingNote.maHinhThuc)" disabled="true" />
                </div>
            </div>

        </div>
    </div>

    <!--Thông tin khách hàng-->
    <div class="row mb-3">
        <p class="title">Thông tin khách hàng</p>
        <div class="col-md-6">
            <div class="row mb-2">
                <label class="col-3 col-form-label">Mã khách hàng:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="this.data.shippingNote.maKhachHang"
                        [disabled]="this.status == 2" />
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-3 col-form-label">Số điện thoại:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="this.data.shippingNote.sdt"
                        disabled="true" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mb-2">
                <label class="col-3 col-form-label">Tên khách hàng:</label>
                <div class="col-9">
                    <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="this.data.shippingNote.tenKhachHang"
                        disabled="true" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-12 col-form-label" style="color: #25fd16;">Chọn địa chỉ giao hàng</label>
            <div *ngFor="let address of data.shippingNote.thongTinGiaoHang" class="mb-3">
                <div class="row">
                    <!-- Radio button chiếm 1 cột -->
                    <div class="col-1 d-flex align-items-center">
                        <input class="form-check-input ms-3" type="radio" name="macDinh" [value]="address"
                            [(ngModel)]="selectedAddress" (change)="onAddressSelected(address)"
                            [checked]="address.macDinh === true || address == selectedAddress"
                            style="transform: scale(1.5);" />
                            <!-- <input class="form-check-input ms-3" type="radio" name="macDinh"
                            [value]="address" [checked]="address.macDinh === true"
                            style="transform: scale(1.5);" (change)="onAddressSelected(address)"/> -->
                    </div>
                    <!-- Địa chỉ và số điện thoại chiếm phần còn lại -->
                    <div class="col-11">
                        <!-- Địa chỉ -->
                        <div class="row">
                            <label class="col-2 col-form-label">Địa chỉ:</label>
                            <div class="col-10 d-flex align-items-center">
                                <input class="border-bottom1 flex-grow-1" name="diaChi" [(ngModel)]="address.diaChi"
                                    disabled="true" />
                            </div>
                        </div>
                        <!-- Số điện thoại -->
                        <div class="row">
                            <label class="col-2 col-form-label">Số điện thoại:</label>
                            <div class="col-5">
                                <input class="border-bottom1" name="maPhieuNhap" [(ngModel)]="address.sdt"
                                    disabled="true" />
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>